[Unit]
Description=Daily Unibrowse MongoDB Backup Timer
Requires=unibrowse-backup.service

[Timer]
# Run daily at 3:00 AM
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
